<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{font-family: Arial, sans-serif; line-height: 1.6;color: #333;}
        .container{max-width:600px;margin:0 auto; padding:20px;}
        .header{background-color: #f4f4f4;padding: 10px;text-align:center;}
        .content{padding:20px}
        .footer{font-size: 12px;color:#777;text-align: center;}
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Bill Invoice</h2>
        </div>
        <div class="content">
            <p>Hii User</p>
            <p>Bill Summary</p>
            <ul> 
                <li><strong>Order ID</strong>asdf7410>
                <li><strong>Order Date</strong>dd-mm-yyyy</li>
                <li><strong>Total food items</strong>number</li>
                <li><strong>Final Amount</strong>Amount</li>
            </ul>
            <p>Best Regards</p>
            <P>EatWhatYourHeartWants</P>   
        </div>
        <div class="footer">
                <p>This is and automated email please do not reply to this message</p>
        </div>
    </div>
    
</body>
</html>