{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Login Here ..</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="username">Username :</label>
                <input type="text" name="username" placeholder="enter username"><br><br>
                <label for="password">password</label>
                <input type="password" name="password" placeholder="enter your password">
                <input type="submit">
            </form>
        </div>
    </div>
    
{% endblock %}
